.btn-add{
  background-color: #4CAF50;
  color: white;
  &:hover{
    background-color: #66BB6A;
  }
  &:focus, &:hover{
    color: white;
  }
}
a{
  color: #4CAF50;
}
i.edit{
  font-size: 16px;
  color: #4CAF50;
}
i.delete{
  font-size: 16px;
  color: #F44336;
}

div.search-area{
  margin-top: 50px;
  select#filter{
    height: 34px;
    &:focus{
      background-color: white;
    }
  }
}
.invalid{
  color: red;
}
.correct{
  color: green;
}
.invalid, .correct{
  display: none;
}
